<div id="campaing_assign_customers">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Номер телефону</th>
            <th>Назва організації</th>
            <th>Контактне лице</th>
            <th>&#160;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="customer in customers">
            <td ng-bind="$index+1"></td>
            <td ng-bind="customer.phoneNumber"></td>
            <td ng-bind="customer.organizationName"></td>
            <td ng-bind="customer.contactPerson"></td>
            <td><button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Видалити" ng-click="clickDropCustomerFromCampaign(customer,campaignId)"><span class="glyphicon glyphicon-trash" ></span></button></td>
        </tr>
        </tbody>
    </table>
</div>
<!--
<div class="text-center">
    <ul class="pagination">
        <li ><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>-->