<div class="panel panel-primary" ng-controller="CustomersCtrl">
    <div class="panel-heading" ng-bind-html="panelTitle"></div>
    <div class="panel-body">
        <div ng-switch on="customerView">
            <div id="customer_list" ng-switch-when="customer_list">
                <div ng-include="'views/customers/list.html'"></div>
            </div>
            <div id="customer_form" ng-switch-when="customer_form">
                <div ng-include="'views/customers/form.html'"></div>
            </div>
            <div id="customer_show" ng-switch-when="customer_show">
                <div ng-include="'views/customers/show.html'"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">&nbsp;</div>
</div>