    <table class="table table-user-information table-striped">
        <thead>
        <tr>
            <td><strong>Назва організації</strong></td>
            <td ng-bind="customer.organizationName"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>Контактне лице</strong></td>
            <td ng-bind="customer.contactPerson"></td>
        </tr>
        <tr>
            <td><strong>Номер телефона</strong></td>
            <td ng-bind="customer.phoneNumber"></td>
        </tr>
        <tr>
            <td><strong>Електронна адреса</strong></td>
            <td><a href="mailto:{{customer.email}}" ng-bind="customer.email"></a></td>
        </tr>
        <tr>
            <td><strong>Адреса</strong></td>
            <td ng-bind="customer.address"></td>
        </tr>
        </tbody>
    </table>
    <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="clickCansel()">Закрити</button>
        <button type="button" class="btn btn-default" ng-click="clickEdit(customer.id)">Редагувати</button>
    </div>